.loading-spinner {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center
}

mat-spinner {
  height: 60px !important;
  width: 60px !important;
  svg {
    height: 60px !important;
    width: 60px !important;
  }
  circle {
    stroke-width: 7% !important;
  }
}
