.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.navbar {
  z-index: 9999;
}

mat-sidenav-content {
  overflow: hidden
}
