<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>logo</div>
      <div class="spacer"></div>
      <div *ngIf="!(isHandset$ | async) && !userInfo">
        <a mat-button [routerLink]="link.to" *ngFor="let link of links">{{ link.path }}</a>
      </div>
      <div *ngIf="!(isHandset$ | async) && userInfo">
        <a mat-button (click)="logout()">Logout</a>
      </div>
    </mat-toolbar>
    <perfect-scrollbar><!--  style="max-width: 600px; max-height: 400px;" [config]="config"> -->
      <ng-content></ng-content>
    </perfect-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>
