/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.center {
  margin: auto
}

.flex {
  display: flex
}

.spacer {
  flex: 1 1 auto
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
