<section id="login">
    <div class="container">
        <div class="row">
          <h1 class="center">Login</h1>
          <mat-divider></mat-divider>
          <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-9 center">
              <mat-card>
                  <div *ngFor="let error of errors" class="alert alert-danger">{{ error }}</div>
                  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                      <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input  matInput
                                type="email"
                                pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                                [(ngModel)]="email"
                                name="email"
                                required
                                placeholder="email">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput ngModel minlength="6" type="password" name="password" required placeholder="password">
                      </mat-form-field>
                        <div class='flex'>
                            <button mat-flat-button [disabled]="!f.valid" color="primary" type="submit">Register</button>
                        </div>
                  </form>
              </mat-card>
          </div>
        </div>
      </div>
</section>
<chat-spinner *ngIf="loading"></chat-spinner>
