.cdk-overlay-pane {
  width: calc(100vw - 100px) !important;
  max-width: 550px !important;
  max-height: calc(100vh - 50px);
  overflow: hidden !important;
  text-align: center !important
}

.register-dialog-actions {
  display: flex;
  justify-content: space-around;
  align-items: center
}

@media (max-width: 500px) {
  .cdk-overlay-pane {
    width: calc(100vw - 30px) !important;
  }
}

