#register {
  h1 {
    margin: 25px auto;
    font-size: 45px;
  }
  mat-card {
    margin-bottom: 100px;
  }
  mat-divider {
    width: 100%;
    margin-bottom: 25px;
  }

  mat-checkbox {
    margin-right: 10px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }
  button {
    margin: 20px auto 10px;
  }
}
