<section id="register">
    <div class="container">
        <div class="row">
          <h1 class="center">Join Us</h1>
          <mat-divider></mat-divider>
          <div class="col-12 col-xl-6 col-lg-7 col-md-8 col-sm-9 center">
              <mat-card>
                  <div *ngFor="let error of errors" class="alert alert-danger">{{ error }}</div>
                  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
                      <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput minlength="2" type="text" ngModel name="fullName" required placeholder="full name">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Nick name</mat-label>
                        <input matInput minlength="2" maxlength="14" type="text" ngModel name="nickName" required placeholder="nick name">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input  matInput
                                type="email"
                                pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                                ngModel
                                name="email"
                                required
                                placeholder="email">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Secret</mat-label>
                        <input matInput minlength="6" type="text" ngModel name="secret" required placeholder="secret">
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput ngModel minlength="6" type="password" name="password" #p1 required placeholder="password">
                      </mat-form-field>
                      <mat-form-field appearance="outline" [ngClass]="{'ng-invalid': p1.value !== p2.value}">
                        <mat-label>Re-password</mat-label>
                        <input matInput ngModel minlength="6" type="password" name="re_password" #p2 required placeholder="re-password">
                      </mat-form-field>
                      <mat-form-field>
                          <mat-select ngModel type="text" name="gender" required placeholder="Gender">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-checkbox color="primary" [(ngModel)]="isChecked" name="agreement" required></mat-checkbox> <span>Agree to our <button mat-raised-button type="button" (click)="openDialog()">agreement</button></span>
                        <div class='flex'>
                            <button mat-flat-button [disabled]="!f.valid" color="primary" type="submit">Register</button>
                        </div>
                  </form>
              </mat-card>
          </div>
        </div>
      </div>
</section>
<chat-spinner *ngIf="loading"></chat-spinner>
